@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--color-body);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929, #3b0b0b 40%, #5a1a1a 60%, #003366);



    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 90px;
}


.imgheader {
    margin-left: 30px;
    margin-top: 10px;
    width: 45px;
    transition: all 0.3s ease; 
    z-index: 9999;
}


.logo:hover .imgheader {
    content: url('/storage/mblue.png'); 
}
.logo{
    z-index: 9999;
}

main {
    position: relative;
    height: 100vh; 
}

.video-container {
    position: relative; 
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.martinez{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929);
  
}
.martinez h1 {
    justify-content: center;
    color: white;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    padding-top: 15px;
    margin-left: 75px;
    transition: color 0.3s ease; 
}

.martinez h1:hover {
    color: yellow; 
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

.martinez h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    font-variation-settings: 
        "wght" 400, 
        "wdth" 100;
    display: flex; 
    justify-content: center;
    color: white;
    font-size: 21px;
}
.martinez img {
    width: 80px;
}

.martinez p{
    padding-top: 30px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 13px;
   width: 300px;
   margin-left: 40px;
}

.martinez .question{
    font-size: 21px;
}


#about{
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929);
    width: 100%;
    height: 70vh;
}

.video-container1{
    position: relative; 
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    z-index: -1;
}

.about-title{
    color: white;
    padding: 40px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 21px;
}

.about-p1{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 13px;
    padding: 40px;
}

.about-p2{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.down{
    width: 100%;
    height: 35vh; 
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929);
}

.down-words{
    padding:40px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 13px;
}
/* From Uiverse.io by elijahgummer */ 
.square {
    border: 1px solid #5e42a6;
    height: 26px;
    width: 26px;
    display: block;
    margin: 40px auto;
    transform: rotate(45deg);
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    /* custom */
  }
  
  .square .burgerwrap {
    height: 18px;
    width: 21px;
    transform: rotate(-45deg);
    padding-left: 2px;
    padding-top: 8px;
    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    /* custom */
  }
  
  .square:hover {
    transform: rotate(135deg);
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
      0 0 40px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5),
      0 0 60px rgba(255, 255, 255, 0.5);
  }
  
  .square:hover .burgerwrap {
    transform: rotate(-135deg);
  }
  
  .square span {
    height: 2px;
    width: 14px;
    background: linear-gradient(145deg, #5e42a6, #b46be4);
    display: block;
    margin-bottom: 2px;
    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
   
  }
  
  .square span:after {
    content: "";
    height: 2px;
    width: 14px;
    position: absolute;
    background: #fff;
    left: -22px;
    margin-top: -4px;
    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
   
  }
  
  .square:hover span {
    margin-left: 26px;
  }
  
  .square:hover span:after {
    left: 0.2px;
  }
  
  .square span:nth-of-type(1),
  .square span:nth-of-type(1):after {
    transition-delay: 0.1s;
  }
  
  .square span:nth-of-type(2),
  .square span:nth-of-type(2):after {
    transition-delay: 0.2s;
  }
  
  .square span:nth-of-type(3),
  .square span:nth-of-type(3):after {
    transition-delay: 0.3s;
  }
  .hidden{
    display:none;
  }
  .navDisplay{
    position: absolute;
   
    backdrop-filter: blur(10px);
    width: 100%;
    color: #ff0000;
    height: 100%;

    justify-content: center;
    align-items: center;
  }

  .navDisplay a{
    color: white;
    padding: 10px;
  }
  .navInt{
    display: flex;
   justify-content: center;
    align-items: center;
    height: 100%;
  }
  .nav-links,a{
    font-weight: 700;
    text-align: center;
    color: rgb(253, 253, 253);
  }

  .caca{
    position: absolute;
    right:  0;
    z-index: 1000;
    margin-right: 5px;
  }
 

  