@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--color-body);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929);
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 90px;
}


.imgheader {
    margin-left: 30px;
    margin-top: 10px;
    width: 45px;
    transition: all 0.3s ease; 
}


.logo:hover .imgheader {
    content: url('/storage/mblue.png'); 
}

main {
    position: relative;
    height: 100vh; 
}

.video-container {
    position: relative; 
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.martinez{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background: linear-gradient(to left, #000000, #0a0a0a, #141414, #1f1f1f, #292929);
  
}
.martinez h1 {
    justify-content: center;
    color: white;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    padding-top: 15px;
    margin-left: 75px;
    transition: color 0.3s ease; 
}

.martinez h1:hover {
    color: yellow; 
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

.martinez h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
    font-variation-settings: 
        "wght" 400, 
        "wdth" 100;
    display: flex; 
    justify-content: center;
    color: white;
    font-size: 21px;
}
.martinez img {
    width: 80px;
}

.martinez p{
    padding-top: 30px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; 
    font-style: normal;
   font-size: 13px;
   width: 300px;
   margin-left: 40px;
}

.martinez .question{
    font-size: 21px;
}



#about{
    background: red;
    width: 100%;
    height: 80vh;
}

.video-container1{
    position: relative; 
    width: 100%;
    height: 70vh; 
    overflow: hidden;
    z-index: -1;
}



.down{
    background: green;
}