<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a class="logo">
            <img class="imgheader" alt="" src="/storage/mw.png">
        </a>
        <nav>
            <!-- 
            <a href="#ces" class="navlink">Home</a>
            <a href="#abou" class="navlink">About</a>
            <a href="#foo" class="navlink">Menu</a>
            <a href="#ser" class="navlink">Service</a>
            <a href="#cont" class="navlink">Contact</a> 
            -->
        </nav>
    </header>

    <main>
        <div class="video-container">
            <video autoplay muted loop id="background-video">
                <source src="/storage/sesent.mp4" type="video/mp4">
                
            </video>
        </div>
        <div class="martinez">
            <h1 >
               Martínez
            </h1>
            <h2>Software Developer</h2>

            <p>I have an outstanding ability to listen to my clients and understand their needs. This allows me to apply my knowledge to deliver products that meet or exceed their expectations. My achievement orientation and attention to detail ensure that every part of the process is excellent and functional.</p>

            <p class="question">What would you like to be called?
                As the innovative Martinez.</p>
         
            
        </div>
    </main>
</body>
</html>
