<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a class="logo">
            <img class="imgheader" alt="" src="/storage/logoheader.png">
        </a>
        <nav>
            <!-- 
            <a href="#ces" class="navlink">Home</a>
            <a href="#abou" class="navlink">About</a>
            <a href="#foo" class="navlink">Menu</a>
            <a href="#ser" class="navlink">Service</a>
            <a href="#cont" class="navlink">Contact</a> 
            -->
        </nav>
    </header>

    <main>
        <div class="video-container">
            <video autoplay muted loop id="background-video">
                <source src="/storage/YOOt.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
        <div>
            <h1 class="martinez">
               Martínez
            </h1>
        </div>
    </main>
</body>
</html>
